<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="https://www.sitemaps.org/schemas/sitemap/0.9"> 
    <url>
        <loc>https://wevebeeneverywhere.com</loc> 
    </url>
    <url>
        <loc>https://wevebeeneverywhere.com/stories</loc> 
    </url>
    <url>
        <loc>https://wevebeeneverywhere.com/map</loc> 
    </url>
    <url>
        <loc>https://wevebeeneverywhere.com/about</loc> 
    </url>
    <url>
        <loc>https://wevebeeneverywhere.com/contact</loc> 
    </url>
    {% for post in post_list %}
    <url>
        <loc>https://wevebeeneverywhere.com/stories?id={{ post.id }}</loc> 
    </url>
    {% endfor %}
</urlset>