{% extends "app/structure/layout.html" %}
{% block content %}

{% for post, liked in posts %}
    <div id="story_{{ post.id }}" class="bg-gray-100">
        {% include 'app/partials/story-header.html' %}
        <div class="post-content w-full max-w-4xl m-auto py-4 px-2">
            {% include 'app/partials/story-content.html' %}
            {% include 'app/partials/story-footer.html' %}
        </div>
    </div>
{% endfor %}

<div class='p-4 bg-gray-900 text-gray-100'>
    <h3 class='text-gray-100'>Read more!</h3>
    <p><a class='link' href="/storyfinder">Checkout the Story Finder</a> or one of our recent stories...</p>
    <div class='flex flex-wrap gap-1 mt-4'>
        {% for post in post_list %}
            <div class=''>
                <div class="label_maker"
                    >{{ post.date }} <a class='link'href="/stories?id={{ post.id }}">{{ post.title }}</a>
                     - {{ post.loc_name }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
