{% extends "app/structure/layout.html" %}
{% block content %}

<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.js"></script>
<script id="grid-data" type="application/json">
[
{% for post in post_list %}
    {
        "id": {{post.id}},
        "event_date": "{{post.event_date|date:"Y/m/d"}}",
        "publish_date": "{{post.publish_date|date:"Y/m/d"}}",
        "title": "{{post.title}}",
        "subtitle": "{{post.subtitle}}",
        "location_name": "{{post.loc_name}}",
        "score": {{post.score}},
        "score_display": "{{post.get_score_display}}",
        "author": "{{post.author.first_name}} {{post.author.last_name}}",
        "like_count": {{post.like_count}},
        "comment_count": {{post.comment_count}}
    }{% if not forloop.last %},{% endif %}
{% endfor %}
]
</script>
<script>
    const minWidth = 120;
    const dateWidth = 125;
    const smTextWidth = 150;
    const mdTextWidth = 250;
    const lgTextWidth = 450;

    function titleRenderer(params) {
        return `<a class='link' href='/stories?id=${params.data.id}'><b>${params.data.title}</b></a> >>> <span>${params.data.subtitle}</span>`;
    };

    function onFilterTextBoxChanged() {
        gridOptions.api.setQuickFilter(document.getElementById('quick-filter-input').value);
    };

    const columnDefs = [
        { field: "title", headerName: 'Title', cellRenderer: titleRenderer, flex: 1, minWidth: mdTextWidth},
        { field: "location_name", headerName: 'Location', width: mdTextWidth },
        { field: "score", headerName: 'Score', width: smTextWidth, valueFormatter: params => params.data.score_display },
        { field: "author", headerName: 'Author', width: smTextWidth },
        { field: "event_date", headerName: 'Event Date', width: dateWidth },
        { field: "publish_date", headerName: 'Published', width: dateWidth, sort: 'desc' },
        { field: "like_count", headerName: 'Cheers', width: minWidth },
        { field: "comment_count", headerName: 'Comments', width: minWidth },
    ];

// specify the data
const rowText = document.getElementById('grid-data').textContent;
const rowData = JSON.parse(rowText);
console.log(rowData);

// let the grid know which columns and what data to use
const gridOptions = {
  columnDefs: columnDefs,
  rowData: rowData,
  defaultColDef: {
    filter: true,
    sortable: true,
    resizable: true,
  },
};

// setup the grid after the page has finished loading
document.addEventListener('DOMContentLoaded', () => {
    const gridDiv = document.querySelector('#grid');
    new agGrid.Grid(gridDiv, gridOptions);
});

</script>
<div>
    <div class='content-padded'>
        <h1>Story Finder</h1>
        <p>Click on a column to sort! Title links to story.</p>
    </div>
    <div class='p-2'>
        <input 
            class='w-full' 
            placeholder='Search for Stories...' 
            oninput='onFilterTextBoxChanged()' 
            type='text' 
            id='quick-filter-input'
        />
    </div>
    
    <div id="grid" style='height: 500px;' class="w-full ag-theme-alpine"></div>
</div>


{% endblock %}
