{% extends 'app/layout.html' %}
{% load static %}
{% block content %}
<div class="body-content">
    <br style="clear:both;" />

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <h1 class="h3 mb-3 font-weight-normal">Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</h1>
        {% endif %}
    {% endif %}


    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">{{ field.label_tag }}</span>
            </div>
            <div class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">{{ field }}</div>
        </div>
        <div style="color:red;">{{ field.errors }}</div>
        {% endfor %}
        {{ form.non_field_errors }}
        <button class="customButton" type="submit" value="login">Sign in</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <p>
        <a href="{% url 'password_reset' %}">Lost password?</a>
    </p>
</div>
{% endblock %}