{% extends 'app/structure/layout.html' %}

{% block content %}
<div class="body-content">
    <h1>Password Reset</h1>
    <p>Enter the email associated with your account below to start the password reset process. If you haven't associated an email with your account, please contact your administrator.</p>
    <form action="." method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">{{ field.label_tag }}</span>
          </div>
          <div class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">{{ field }}</div>
        </div>
        <div style="color:red;">{{ field.errors }}</div>
        {% endfor %}
        {{ form.non_field_errors }}
        <button class="customButton" type="submit" value="Reset password">Reset Password</button>
    </form>
    <p>
        <a href="{% url 'login' %}">Back to Sign-in Page</a>
    </p>
</div>
{% endblock %}
