{% extends 'app/structure/layout.html' %} {% load static %} {% block content %}

<!--Register-->
<div class="content-padded flex flex-col gap-y-2 max-w-lg">
  <div>
    <h1>Your Profile</h1>
  </div>
  <form method="POST" class='flex flex-col gap-y-2'>
    {% csrf_token %} 
    {% for field in user_form %}
      <div>
        <span class="input-group-text" id="basic-addon1"
          >{{ field.label_tag }}</span
        >
        <div>
          {{ field }}
        </div>
      </div>
      <div class="text-bad-600">{{ field.errors }}</div>
    {% endfor %} 
    <div class='text-bad-600'>{{ user_form.non_field_errors }}</div>
    {% for field in profile_form %}
      <div>
        <span class="input-group-text" id="basic-addon1"
          >{{ field.label_tag }}</span
        >
        <div>
          {{ field }}
        </div>
      </div>
      <div class="text-bad-600">{{ field.errors }}</div>
    {% endfor %} 
    <div class='text-bad-600'>{{ profile_form.non_field_errors }}</div>
    <button class="btn btn-primary" type="submit">Update</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>

{% endblock %}
