<!DOCTYPE html>
<html>
{% include 'app/structure/head.html' %}
<body>
    <div class='flex flex-col justify-between'>
        <div class='flex flex-col items-top justify-start'>
            <div class='sticky top-0 bg-white border-b border-gray-200'>{% include 'app/structure/navbar.html' %}</div>  
            <div>{% include 'app/partials/messages.html' %}</div>  
            <div>{% block content %}{% endblock %}</div>
        </div>
        <div>{% include 'app/structure/footer.html' %}</div>
    </div>
</body>
</html>
