{% load static %}
<div>
    <div class="flex justify-center md:justify-between items-center gap-x-4 p-4 w-full sticky top-0">
        <!-- Left Side Navbar -->
        <div class="flex gap-x-4 items-center">
            <!-- Logo -->
            <div class='flex items-center justify-center'>
                <a 
                    class=''
                    href="/"
                >
                    <img src="{% static 'app/images/WBEArrow.svg' %}" class='h-12 mr-4'/>
                </a>
            </div>
            <!-- Large Screen Navigation -->
            <div class='hidden md:flex gap-x-2'>
                {% include 'app/structure/navlinks.html' %}
            </div>
        </div>
        <!-- Right Side Navbar -->
        <div class='hidden md:flex'>
            {% include 'app/structure/auth-navlinks.html' %}
        </div>
    </div>
    <!-- Small Screen Navigation -->
    <div class='md:hidden border-t border-b border-gray-200 p-2'>
        <div class='flex md:hidden justify-center gap-x-2 mb-2'>{% include 'app/structure/navlinks.html' %}</div>
        <div class='flex md:hidden justify-center gap-x-2'>{% include 'app/structure/auth-navlinks.html' %}</div>
    </div>
</div>